#header {
  border-bottom: 1px solid #ccc;
}
#header .container {
  height: 40px;
}
#header .container .row {
  text-align: center;
  line-height: 40px;
}
#header .container .row div {
  font-size: 12px;
}
#header .container .row div a {
  color: #666;
}
#header .container .row div a:hover {
  text-decoration: none;
}
#header .container .row div a img {
  display: none;
  position: absolute;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
}
#header .container .row div a:hover img {
  display: block;
}
#header .container .row div + div {
  border-left: 1px solid #ccc;
}
